<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        (keyup.enter)="changeHandler()"
        [formControl] = "newTaskCtrl"
        />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <section class="main">
      <ul class="todo-list">
        @for (task of tasksByFilter(); track task; let index = $index) {
          <li
            [class.completed] = "task.completed"
            [class.editing]= "task.editing"
            (dblclick)="updateTaskEdit(index)">
            <div class="view">
              <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(index)"/>
              <label>{{ task.title }}</label>
              <button class="destroy" (click)="deleteTask(index)"></button>
            </div>
            <input class="edit" [value]="task.title" (keyup.enter)="updateTaskTitle(index, $event)"/>
          </li>
        }
      </ul>
    </section>
    @if (tasks().length > 0) {
      <footer class="footer">
        <span class="todo-count"><strong>{{tasksByFilter().length}}</strong> {{ tasksByFilter().length === 1 ? 'item' : 'items' }} </span>
        <ul class="filters">
          <li>
            <a (click)="changeFilter('all')" [class.selected]="filter() === 'all'">All</a>
          </li>
          <li>
            <a (click)="changeFilter('pending')" [class.selected]="filter() === 'pending'">Pending</a>
          </li>
          <li>
            <a (click)="changeFilter('completed')" [class.selected]="filter() === 'completed'">Completed</a>
          </li>
        </ul>
        <button class="clear-completed">Clear completed</button>
      </footer>
    }
  </div>
</section>
